.home-wrap{
    color: #ffffff;
    .home-list-con{
        .box{
            
            position: absolute;
            left: 1.25rem;
            p:nth-of-type(1){
                 font-size: 1rem;
                 width: 7.5rem;
                 display: block;
                 margin-top: 7.0625rem;
                 margin-bottom: .375rem;
            }
            p:nth-of-type(2){
                  font-size: .625rem; 

            }
            img{
                display: inline-block;
               margin-left: 16.1875rem;
               margin-top: -2.5rem;
            }

        }
    }
}