#search {
  padding: .75rem 0 .49rem 0;
  position: relative;
  .bsscroll{
    position: absolute;
    top: .75rem;
    width: 100%;
    bottom: 0;
    height: 5.3rem;
    z-index: 99;
  }
  .search-from {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.44rem;
    background: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    z-index: 9;
    .search-box {
      margin: 0 auto;

      width: 3.2rem;
      height: 0.3rem;
      background: rgba(104, 206, 206, 1);
      opacity: 0.3;
      border-radius: 0.11rem;
      position: relative;
      .title {
        display: inline-block;
        width: 0.5rem;
        height: 0.12rem;
        font-size: 0.13rem;
        font-family: PingFang-SC-Medium;
        font-weight: 500;
        color: #333333;
        line-height: 0.32rem;
        position: absolute;
        left: 0.39rem;
        top: 0;
      }
      .icon-fdj {
        width:.14rem;
        height:.14rem;
        font-size: .14rem;
        position:absolute;
        left: .15rem;
        line-height: .30rem;
      }
    }
  }
  .serch-tab {
    position: fixed;
    left: 0;
    top: .44rem;
    width: 100%;
    background: #fff;
    z-index: 5;
    ul {
      height: 0.28rem;
      padding-bottom: 0.02rem;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-bottom: 0.01rem solid #999999;
      .active {
        border-bottom: 0.03rem solid #68cece;
      }
      li {
        height: 100%;
      }

      a {
        color: #303030;
        font-size: 0.14rem;
        font-family: "PingFang-SC-Medium";
        display: block;
        height: 100%;
      }
    }
  }
  .user {
    height: 100%;
    padding: 0.1rem 0;
    .item {
      margin: 0 auto 0.15rem;
      padding: 0 0.2rem;
      width: 2.95rem;
      height: 0.79rem;
      background: #f5f5f5;
      box-shadow: 0px 0.02rem 0.05rem 0px rgba(0, 0, 0, 0.35);
      border-radius: 0.2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .user-img {
        background-color: #fff;
        width: 0.4rem;
        height: 0.4rem;
        border-radius: 50%;
      }
      .user-name {
        height: 0.13rem;
        font-size: 0.13rem;
        font-family: PingFang-SC-Regular;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
      }
      .left-icon {
        width: 0.12rem;
        height: 0.21rem;
        color: #68CECE;
        font-size: .21rem;
        font-weight: 500;
      }
    }
  }
  .cyclopedia {
    padding: 0.1rem 0;
    .item {
      width: 3.4rem;
      height: 1.58rem;
      border-radius: 0.2rem;
      background-color: #999;
      position: relative;
      margin:0 auto .1rem;
      
      .item-title {
        height: .12rem;
        font-size: .12rem;
        font-family: PingFang-SC-Light;
        font-weight: 300;
        color: #FBFFFF;
        text-align: center;
        position:absolute;
        top:.56rem;
        left: 0;
        width: 100%;
      }
      .item-border{
        position: absolute;
        top: .73rem;
        left: 50%;
        transform: translateX(-50%);
        width:.5rem;
        height:.015rem;
        background:rgba(208,208,208,1);
      }
      h3{
        height: .16rem;
        font-size: .17rem;
        font-family:PingFang-SC-Medium;
        font-weight:500;
        color: #FBFFFF;
        position: absolute;
        top: .75rem;
        width: 100%;
        text-align: center;
      }
    }
  }
  .menu{
    
    ul{
      padding: .15rem .2rem 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      li{
        margin-bottom: .15rem;
        width:1.05rem;
        height:1.58rem;  
        border-radius:.1rem;
        background-color: #333;
        text-align: center;
        line-height: 1.58rem;
        color:#FFFFFF;
        font-size: .12rem;
      }
    }
  }
}
