#home{
    .home-header{
        .home-box{
            color: #ffffff;
            position: absolute;
            top: 24.3125rem;
            left: 1.375rem;
            h3{
                font-size: 1.25rem;
                
            }
            span{
                font-size: 1.5625rem;
                
            }
            p{
                font-size: .8125rem;
            }   
        }
    }

    

   

}