#login-by-email {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
    background: url(../../images/loginbg.jpg);
    .app-header {
        height: 2.75rem;
        width: 100%;
        text-align: center;
        background: #DEDEDD;
        line-height: 4rem;
        font-size: 1.125rem;
    }
    .inputbox {
        width: 18.75rem;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 13.75rem;
        input::-webkit-input-placeholder {
            color: #C8C7C7;
        }
        input {
            display: block;
            width: 18.75rem;
            height: 2.9375rem;
            border-radius: .3125rem;
            padding-left: .9375rem;
            box-sizing: border-box;
        }
        .password {
            margin: .625rem auto;
        }
        .login {
            background: #68CECE;
            color: #fff;
            font-size: 1.125rem;
            width: 18.75rem;
            border: none;
            height: 2.9375rem;
            border-radius: .3125rem;
        }
    }
    .forget {
        color: #fff;
        position: absolute;
        bottom: 2.25rem;
        right: 9rem;
        font-size: .875rem;
    }
}